.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #669bbc;
}
.footer-content a {
  color: #ff6600;
  margin: 0 15px;
  text-decoration: none;
}

.form-footer {
  background-color: #333;
  padding: 20px;
  margin: 30px 0;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.footer-content p {
  color: #fff;
  margin-bottom: 10px;
}

.form-footer h3 {
  margin-bottom: 15px;
  color: #fff;
}

.form-footer input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.form-footer button {
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-footer button:hover {
  background-color: #e65c00;
}
