header {
  background-color: #669bbc;
  color: white;
  font-size: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 80px;
  z-index: 1000;
}

main {
  margin-top: 80px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

nav h1 {
  color: #003049;
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

nav a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

