.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

.search {
  position: absolute;
  top: 250px;
  left: 25%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  width: 50%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  flex-grow: 1;
}

.search button {
  padding: 10px 15px;
  border: none;
  background-color: #003049;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

section.contenitore {
  width: 1000px;
  margin: auto;
}


h2 {
  padding-top: 25px;
  padding-left: 50px;
  margin-bottom: 20px;
}

.griglia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  row-gap: 2rem;
}

.elemento {
text-align: center;  
margin-bottom: 2rem;
}

.elemento img {
  width: 90%;
  height: 90%;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.elemento:hover img {
  transform: scale(1.05);
  transition: transform 0.3s, box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(255, 2, 2, 0.3);
}

.elemento p {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 90%;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
