@import url('./header.css');
@import url('./main.css');
@import url('footer.css');
@import url('./responsive.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fefae0;
}
