* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fefae0;
}
header {
  background-color: #669bbc;
  color: white;
  font-size: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 80px;
  z-index: 1000;
}

main {
  margin-top: 80px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

nav h1 {
  color: #003049;
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

nav a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

.search {
  position: absolute;
  top: 250px;
  left: 25%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  width: 50%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  flex-grow: 1;
}

.search button {
  padding: 10px 15px;
  border: none;
  background-color: #003049;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

section.contenitore {
  width: 1000px;
  margin: auto;
}


h2 {
  padding-top: 25px;
  padding-left: 50px;
  margin-bottom: 20px;
}

.griglia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.elemento {
  text-align: center;
}

.elemento img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
}

.elemento p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

footer {
  margin-top: 80px;
  background-color: #222;
  color: #eee;
  padding: 1.5rem 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  color: #eee;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}

.footer-content a {
  color: #eee;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 500;
}

.footer-content a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .griglia {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media (max-width: 480px) {
  .griglia {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
@media (max-width: 480px) {
  .griglia {
    grid-template-columns: 1fr;
  }
}
