* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 2000px;
}

header {
  background-color: #669bbc;
  color: white;
  font-size: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 80px;
  z-index: 1000; 
}

main {
  margin-top: 80px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

nav h1 {
  color: #003049;
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

nav a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

.search {
  position: absolute;
  top: 250px; 
  left: 25%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  width: 50%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  flex-grow: 1;
}

.search button {
  padding: 10px 15px;
  border: none;
  background-color: #003049;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

section {
  padding: 40px 20px;
  width: 50%;
}